astral==2.2
#celery==5.2.3
channels==3.0.4
channels-redis==3.3.1
Django==4.0.2
django-admin-list-filter-dropdown==1.0.3
django-auditlog==1.0a1
django-cors-headers==3.11.0
#django-filter==21.1
django-guardian==2.4.0
django-log-request-id==2.0.0
django-oauth-toolkit==1.6.3
#django-picklefield==3.0.1
django-rq==2.5.1
django-taggit==2.0.0
django-taggit-serializer==0.1.7
djangorestframework==3.13.1
djangorestframework-simplejwt==5.0.0
PyHamcrest==2.0.3
#PyJWT==2.3.0
pyluach==0.3.0.dev1
python-dateutil==2.8.2
pytz==2018.9
PyYAML==6.0
redis==4.1.0
requests==2.27.1
rq==1.10.1
rq-dashboard==0.6.1
rq-scheduler==0.9
rq-scheduler-dashboard==0.0.2
tornado==5.1.1
Twisted==22.1.0
